<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Move declaration</title>
</head>

<body ng-app="indexApp" ng-controller="indexCtrl">
    <div class="container">
        <div class="row">
            <div class="col-12 alert alert-danger p-3">
                <div class="d-flex justify-content-center mb-3">
                    <img src="img/oishi.jpg" class="img-fluid justify-content-center" alt="Responsive image" width="500em">
                </div>
                <h4 class="text-center">Trang khai báo y tế đối với NLĐ sau thời gian nghỉ dài hạn</h4>
                <h3 class="text-center">MEDICAL DECLARATION</h3>
                <h5 class="mt-4 text-center">Đây là tài liệu quan trọng, thông tin của Anh/Chị sẽ giúp cơ quan y tế liên lạc khi cần thiết để phòng chống dịch bệnh truyền nhiễm</h5>
                <p class="text-center"> This is an important document, your information will help the health authorities in contacting when necessary to prevent infectious diseases, please cooperate for your safety as well as everyone else </p>

            </div>
        </div>

    </div>
    <div class="container">
        <div class="container ">
            <div class="row mt-3">
                <div class="col-12 bg-light p-3">
                    <h6 class="mt-4">Kiểm tra thông tin nhân viên/Check employee infomation</h6>
                    <form name="checkForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="idCompany">Công ty / Company<span style="color:red;"> *</span></label>
                                <select id="idCompany" class="form-control" name="idCompany" id="idCompany" ng-model="idCompany" ng-required="true">
                                    <option ng-repeat="x in Companys | orderBy: 'idCompany'" value="{{x.idCompany}}">
                                        {{x.nameCompany}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="empcodeEmployee">Mã Nhân Viên / Employee Code<span style="color:red;"> *</span></label>
                                <input type="text" class="form-control" name="empcodeEmployee" id="empcodeEmployee" ng-model="empcodeEmployee" ng-required=true>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Mã Thẻ Xe hoặc Mã Thẻ Phiếu Ăn / Utility No.<span style="color:red;"> *</span></label>
                                <input type="text" class="form-control" name="smcEmployee" id="smcEmployee" ng-model="smcEmployee" ng-required=true>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-primary" ng-disabled="checkForm.$invalid" ng-click="check(idCompany,empcodeEmployee,smcEmployee)">Kiểm tra / Check</button>
                    </form>

                </div>
                <!-- <div class="col-12 bg-light mt-3 p-3" id="inputform">
                    <h6 class="mt-4">Thông tin nhân viên/Employee Information</h6>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Họ và tên/Full Name</label>
                                <input type="text" class="form-control" id="inputPassword4" ng-model="fullname"
                                    disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Bộ phận/ Department</label>
                                <input type="text" class="form-control" id="inputPassword4" ng-model="departmnet"
                                    disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Địa chỉ/ Address</label>
                                <input type="text" class="form-control" id="inputPassword4" ng-model="address" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Công ty/Company</label>
                                <input type="text" class="form-control" id="inputPassword4" ng-model="idCompany"
                                    disabled>
                            </div>

                        </div>
                    </form>
                    <h6 class="mt-4">Thông tin lịch trình di chuyển/Move declaration </h6>
                    <form name="declarationForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Tỉnh thành/Province</label>
                                <select id="inputState" class="form-control" name="idProvince" id="idProvince"
                                    ng-model="idProvince" ng-required="true">
                                    <option ng-repeat="x in Provinces | orderBy: 'idProvince'" value="{{x.idProvince}}">
                                        {{x.nameProvince}}</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Từ ngày/ Date from</label>
                                <input type="date" class="form-control" id="datestart" ng-model="datestart"
                                    ng-required="true">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Đến ngày/Date to</label>
                                <input type="date" class="form-control" id="dateend" ng-model="dateend"
                                    ng-required="true">
                            </div>

                        </div>
                        <button type="submit" ng-disabled="declarationForm.$invalid" class="btn btn-success"
                            ng-click="submitform(idProvince,datestart,dateend)">Add</button>
                    </form>
                </div> -->

            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="js/angularjs/angular.min.js"></script>
    <script src="/js/angularjs/indexController.js"></script>

</body>

</html>